.nav-link-hidden[data-active="true"] {
    display: none;
}

.nav-link:hover {
    text-decoration: underline;
}


.nav_style,
.nav-link {
    background-color: #ffffff;
    color: black;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
}

.navbar-brand span {
    padding: 0%;
}

.container-fluid {
    background-color: #ffffff;
}